@tailwind base;
@tailwind components;
@tailwind utilities;

@import '/styles/login.css';
@import './datepicker.css';
@import './loading.css';
@import './btn_loading.css';
@import './hint.css';
@import './editor.css';

* {
  font-family: 'PT Sans', sans-serif;
}

.selection-area {
  border: 1px solid rgba(20, 20, 20, 0.06);
  background-color: rgba(20, 20, 20, 0.06);
  border-radius: 5px;
}

.imageCarouselContainer {
  perspective: 500px;
  transform-style: preserve-3d;
}

.imageCarousel {
  transform: translateX(calc(var(--direction) * -6rem)) rotateY(calc(var(--offset) * 50deg))
    scaleY(calc(1 + var(--abs-offset) * -0.1)) translateZ(calc(var(--abs-offset) * -30rem));
  filter: blur(calc(var(--abs-offset) * 0.8rem));
}

@keyframes loadingHomepage {
  0% {
    transform: translateX(70px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* 
0% {
    transform: translateX(70px);
  }
  100% {
    transform: translateX(0px);
  } */

@keyframes top_to_bottom {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  75% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  95% {
    transform: scale(1, 1);
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes popup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dropdownmenu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.popupItem {
  transform-origin: center;
  animation: popup 0.3s forwards ease-in-out;
}

/* className={clsx(
          'bg-green-100 absolute w-full h-1/2',
          'transition-all duration-300 ease-in-out origin-bottom',
          `${a ? '-top-1/2' : 'top-0'}`
        )} */
