@tailwind base;
@tailwind components;
@tailwind utilities;
@import '/styles/login.css';

@import './datepicker.css';

.kulo {
  background-color: #fff6db;
}

.custom_rotate {
  transform: rotate(360deg);
  box-shadow: 0 6px 8px rgba(255, 255, 255), 0 0 0 2px rgb(105, 105, 105),
    0 0 0 8px rgb(215, 214, 214);
}

@keyframes rotate {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  50% {
    transform: translateX(50px) translateY(50px);
  }
  100% {
    transform: translateX(-50px) translateY(0px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.selection-area {
  border: 1px solid rgba(20, 20, 20, 0.06);
  background-color: rgba(20, 20, 20, 0.06);
  border-radius: 5px;
}
