@tailwind base;
@tailwind components;
@tailwind utilities;

@import '/styles/login.css';
@import './datepicker.css';

.selection-area {
  border: 1px solid rgba(20, 20, 20, 0.06);
  background-color: rgba(20, 20, 20, 0.06);
  border-radius: 5px;
}
